body {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

div {
  margin-bottom: 10px;
}

label {
  margin-right: 5px;
}



input {
  padding: 8px;
  font-size: 1.2rem;
}

button {
  padding: 10px;
  font-size: 1rem;
  
  border: 2px solid black;
  cursor: pointer;
  width: 200px;

}

button:hover {
  background-color: #0056b3;
}

p {
  color: red;
  margin: 0;
  font-size: 0.8rem;
} 
